<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.serie.youtube.dagio.androidparatodos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/development1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activitys.splashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".coordinator.contentActivity"
            android:label="@string/title_activity_content"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activitys.MenuActivity" />
        <activity
            android:name=".coordinator.conceptosConten"
            android:label="@string/title_activity_conceptos_conten"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".coordinator.contentID"
            android:label="@string/title_activity_content_id"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".coordinator.contentElements"
            android:label="@string/title_activity_content_elements"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".coordinator.contentApss"
            android:label="@string/title_activity_content_apss"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".coordinator.contentLibrary"
            android:label="@string/title_activity_content_library"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".coordinator.contenTips"
            android:label="@string/title_activity_conten_tips"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>